.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #bbb;
    font-size: 40px;
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    margin: 2px;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}